include *.rst
include *.py
include *.yaml
include tox.ini
include .gitignore

include .bumpversion.cfg

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst


global-exclude *.py[cod] __pycache__/* *.so *.dylib
